body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    background-color: green;
  }

.header {
    font-size:50px;
    font-weight: bold;
    color: black;
}
  
.NavBar {
    height: 100px;
    width: 100%;
    background-color: black;
}

.middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 50px;
}

.sideMiddle {
    background-color: black;
    height: 200px;
    width: 100%;
}
